<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://wallpapers.com/images/hd/iron-man-pictures-k83lqhe6vnh95b1m.jpg"
      alt=""
      srcset=""
    >
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__descriotion">
    <p>
      <a href="#">
        O incrivel Angular está em uma nova faze, acesse o site oficial e veja as novas atualizações desse framework
      </a>
    </p>
  </div>
</div>
