.container__menu-title {
  color: rgb(255, 255, 255);
}

.container__menu-title > h1 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 120px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

.container__menu-title > hr {
  margin-top: 20px;
}
